// Scss
@charset "UTF-8";

/* ----- Colors ----- */

$white_color: #ffffff;
$white_color_rgba: rgba(255, 255, 255, 0.7);
$light_green_color: #03899C;
$dark_green_color: #02515C;
$dark_grey_color: #111111;
$ribbon_color: #ff0000;
$orange_color: #EA5B0C;
$orange_color_rgba: rgba(234, 91, 12, 0.7);

/* --- Set color of mixin, to set color of bar on mobile ---- */

@import "mixins.scss";

/* -- Fonts -- */

@font-face {
    font-family: 'Revue Std Bold';
    src: url(/fonts/RevueStd.otf);
}

/* MOBILE-FIRST css code */

body {
    margin: 0px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}
@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}
h2 {
    margin-top: 2.5em;
    color: #ffffff;
    font-family: 'Revue Std Bold', sans-serif;
    font-size: 7vmin;
}
h3 {
    color: #ffffff;
    font-family: 'Revue Std Bold', sans-serif;
    font-size: 6.5vmin;
}
h4 {
    color: #ffffff;
    font-family: 'Revue Std Bold', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5em;
    margin-bottom: 0em;
}
p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
// Logo //
#logo_holder {
    left: 0;
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white_color;
    z-index: 50;
    position: fixed;
    /* Dropshadow */
    -webkit-box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    #nav_logga {
        width: 7em;
        margin-top: 0.5em;
    }
}

/* ---- NESTED NAV ---- */

#nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    /* Hide menu-checkbox */
    input.trigger {
        display: none;
    }
    /* Hide submenu-checkbox */
    input.trigger-ref {
        display: none;
    }
    /* Hide minus */
    #menu-references #minus-ref {
        display: none;
    }
    /* Hide submenu-ref */
    #submenu-ref {
        display: none;
    }
    /*Show - and submenu-ref || Hide + */
    input.trigger-ref:checked ~ #submenu-ref,
    input.trigger-ref:checked ~ #menu-references #minus-ref {
        display: flex;
    }
    input.trigger-ref:checked ~ #menu-references #plus-ref {
        display: none
    }
    label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 1em;
        font-size: 1.5em;
        padding: 0.2em;
        margin: 0;
        cursor: pointer;
        line-height: 0em;
        @include font-mix(#000000, transparent);
        opacity: 0.97;
        /*background-color: $light_green_color;
        color: #ffffff;*/
    }
    #hamburger_label {
        justify-content: flex-end;
        display: flex;
    }
    /* Hide the X while the menu is hidden*/
    #hamburger_label .fa-times {
        display: none;
        padding: 0.5em;
    }
    #hamburger_label .fa-bars {
        display: flex;
        padding: 0.5em;
    }
    /*Show X and hide bars*/
    input.trigger:checked ~ #hamburger_label .fa-times {
        display: flex;
    }
    input.trigger:checked ~ #hamburger_label .fa-bars {
        display: none;
    }
    /* OFF-CANVAS MENU */
    input.trigger:checked ~ .menu-holder {
        left: 0%;
    }
    /* Holder of the UL */
    .menu-holder {
        top: 0;
        left: -16em;
        height: 100%;
        background-color: $orange_color;
        width: 15em;
        position: fixed;
        transition: left 0.6s;
        opacity: 0.97;
        z-index: 600;
        border-right: 1px solid darken( $orange_color, 10%);
        /* Dropshadow */
        //box-shadow: 5px 0px 5px 0px rgba(136, 136, 136, 0.5);
        ul {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        .menu_original {
            display: flex;
            list-style: none;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: 500;
            i {
                padding-right: 0.4em;
            }
            label {
                font-size: 1.2em;
                padding: 0.5em;
                justify-content: center;
                background-color: $orange_color;
                color: $white_color
            }
            label:hover {
                background-color: darken( $orange_color, 10%);
            }
            //Sub-menu
            ul {
                margin: 0;
                padding: 0;
                li {
                    background-color: darken( $orange_color, 10%);
                    list-style: none;
                    // submenu links
                    a {
                        display: flex;
                        justify-content: center;
                        padding-top: 0.2em;
                        padding-bottom: 0.4em;
                        background-color: $dark_grey_color;
                        color: white;
                        text-decoration: none;
                    }
                    a:hover {
                        background-color: darken( $orange_color, 10%);
                    }
                }
            }
        }
    }
}

/*---- END NESTING NAV ----*/


/********************* CONTAINER ********************/

.container {
    -webkit-animation: bugfix infinite 1s;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /* WELCOME */
    .welcome {
        background-image: url("../images/welcome/welcome_home.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #000000;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        /* Setup for startscreen */
        height: 100vh;
        h2 {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 2vh;
            justify-content: space-around;
        }
        /*Protein plus description*/
        p {
            background-color: $orange_color_rgba;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            width: 100%;
            text-align: center;
            width: 100%;
        }
        /* The animation code */
        @keyframes floating {
            0% {
                transform: translateY(0%)
            }
            50% {
                transform: translateY(50%)
            }
            100% {
                transform: translateY(0%)
            }
        }
        #arrow_holder {
            height: 8em;
        }
        // Arrow
        .fa-chevron-circle-down {
            margin-top: 0.3em;
            font-size: 3.5em;
            color: $white_color_rgba;
            animation-name: floating;
            -webkit-animation-name: floating;
            animation-duration: 3s;
            -webkit-animation-duration: 3s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
        }
        .fa-chevron-circle-down:hover {
            color: $orange_color_rgba;
        }
    }
    /* WELCOME END */
    /* ABOUT */
    .about {
        background-color: #ffffff;
        display: flex;
        align-content: center;
        flex-direction: column;
        height: auto;
        h2 {
            color: #000000;
            margin-top: 2.5em;
        }
        .about_des {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            p {
                color: #000000;
                width: 80vw;
                max-width: 400px;
                padding-bottom: 0.1em;
            }
        }
        .employees_images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 5%;
            img {
                width: 45%;
                height: 45%;
            }
        }
    }
    /* ABOUT END */
    /* SERVICES */
    .services {
        background-color: $orange_color;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2 {
            color: $white_color;
            width: 100%;
        }
        section {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 80%;
            img {
                //background-color:aqua;
                width: 3em;
                height: 3em;
                margin-bottom: 1em;
            }
            h3 {
                color: $white_color;
                padding: 0;
                margin: 0;
                margin-bottom: 0.5em;
            }
            p {
                max-width: 80%;
                max-width: 400px;
                color: $white_color;
                margin: 0;
                margin-bottom: 4em;
            }
        }
    }
    /* SERVICES END */
    /* REFERENCES */
    .references {
        background-color: #222222;
        h1 {}
        .ref_gallery {
            display: flex;
            flex-wrap: wrap;
            .ref_holder {
                width: 50%;
                height: auto;
                position: relative;
                overflow: hidden;
                h1 {
                    margin: 0;
                    padding: 0;
                    padding-left: 5%;
                    padding-right: 5%;
                }
                .overlay {
                    content: "";
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    top: -100%;
                    left: 0;
                    background-color: $orange_color_rgba;
                    z-index: 9;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s
                }
                img {
                    width: 100%;
                    height: auto;
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s
                }
            }
            .ref_holder:hover .overlay {
                top: 0;
            }
        }
    }
    /* REFERENCES END */
}

/********************* CONTAINER END ********************/

%templetorderbutton {
    color: $orange_color;
}

/* ----- CONTACT ----- */

.contact {
    background-color: $dark_grey_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        #follow {
            margin-bottom: 1em;
            margin-top: 1em;
        }
        #company_contact_name {
            margin-bottom: 1em;
        }
        p {
            margin: 0px;
        }
        i {
            margin-bottom: 3em;
            color: #ffffff;
        }
        a i:hover {
            color: $orange_color;
        }
    }
}

/* ----- CONTACT END ----- */


/* ----- FOOTER ----- */

footer {
    background-color: #222222;
    width: 100%;
    height: 45px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    p {
        a {
            color: #cccccc;
        }
        a:hover {
            color: $orange_color;
        }
    }
}

/* ----- END FOOTER ----- */


/* -------- Tablet ------ */

@media screen and (min-width: 34em) {
    .container {
        /* ABOUT */
        .about {
            h2 {
                color: #000000;
                margin-top: 2.5em;
            }
            .about_des {
                p {
                    max-width: 600px;
                    padding-bottom: 0.1em;
                }
            }
            .employees_images {
                margin-bottom: 4%;
                margin-top: 1em;
                img {
                    width: 23%;
                    height: 23%;
                }
            }
        }
        /* SERVICES */
        .services {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            h2 {
                width: 100%;
            }
            section {
                width: 50%;
                img {
                    //background-color:aqua;
                    width: 3em;
                    height: 3em;
                    margin-bottom: 1em;
                }
                p {
                    max-width: 70%;
                }
            }
        }
        /* REFERENCES */
        .references {
            h1 {
                font-size: 4vw;
            }
            .ref_gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .ref_holder {
                    width: 25%;
                    height: auto;
                    position: relative;
                    overflow: hidden;
                    h3 {

                            font-size: 3vmin;

                    }
                    .overlay {
                        content: "";
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        top: -100%;
                        left: 0;
                        background-color: $orange_color_rgba;
                        z-index: 9;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s
                    }
                    img {
                        width: 100%;
                        height: auto;
                        -webkit-filter: grayscale(0%);
                        -moz-filter: grayscale(0%);
                        filter: grayscale(0%);
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s
                    }
                }
                .ref_holder:hover .overlay {
                    top: 0;
                }
            }
        }
        /* REFERENCES END */
    }
}

/* ------- Desktop ------ */

@media screen and (min-width: 64em) {
    #logo_holder {
        justify-content: flex-start;
        z-index: 200;
        box-shadow: none;
        width: 13em;
        height: 5em;
        #nav_logga {
            width: 8em;
            margin-left: 3em;
        }
    }
    h2 {
        margin-top: 2em;
    }
    /* NAVIGATION DESKTOP*/
    #nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: auto;
        z-index: 100;
        background-color: transparent;
        label {
            display: flex;
            align-items: center;
            min-height: 1em;
            font-size: 1.5em;
            padding: 0.2em;
            margin: 0;
            cursor: pointer;
            line-height: 0em;
            @include font-mix(#000000,
            $white_color);
            opacity: 1;
            /*background-color: $light_green_color;
        color: #ffffff;*/
        }
        /* Hide hamburgermenu */
        #hamburger_label {
            display: none;
        }
        /* Holder of the UL */
        .menu-holder {
            bottom: 0;
            left: 0;
            height: 5em;
            background-color: $white_color;
            /* Dropshadow */
            box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
            z-index: 20;
            width: 100%;
            position: fixed;
            opacity: 1;
            transition: all 0s;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .menu_original {
                bottom: 0;
                display: flex;
                list-style: none;
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 4em;
                background-color: transparent;
                i {
                    padding-right: 0.4em;
                }
                label {
                    font-size: 1.2em;
                    padding-left: 1.4em;
                    margin-top: 1.5em;
                    padding-right: 1.4em;
                    justify-content: center;
                    background-color: transparent;
                    height: 100%;
                    border-right: 1px solid #cccccc;
                    color: #222222;
                    font-size: 1em;
                }
                // Hide the border of contact
                #menu-contact {
                    border-right: 1px solid transparent;
                }
                label:hover {
                    color: darken( $orange_color, 10%);
                    background-color: transparent;
                }
                //Sub-menu
                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    li {
                        background-color: darken( $orange_color, 10%);
                        list-style: none;
                        // submenu links
                        a {
                            display: flex;
                            justify-content: center;
                            padding-top: 0.2em;
                            padding-bottom: 0.4em;
                            background-color: $dark_grey_color;
                            color: white;
                            text-decoration: none;
                        }
                        a:hover {
                            background-color: darken( $orange_color, 10%);
                        }
                    }
                }
            }
        }
    }
    /* ABOUT */
    .container {
        .about {
            h2 {
                color: #000000;
                margin-top: 2.5em;
            }
            .about_des {
                p {
                    max-width: 600px;
                    padding-bottom: 0.1em;
                }
            }
            .employees_images {
                margin-bottom: 4%;
                margin-top: 1em;
                img {
                    width: 23%;
                    height: 23%;
                }
            }
        }
        /* SERVICES */
        .services {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            h2 {
                width: 100%;
            }
            section {
                width: 25%;
                img {
                    //background-color:aqua;
                    width: 3em;
                    height: 3em;
                    margin-bottom: 1em;
                }
                p {
                    max-width: 80%;
                }
            }
        }
        /* REFERENCES */
        .references {
            .ref_gallery {
                .ref_holder {
                    width: 25%;
                    h3{
                        font-size: 5vmin;
                    }
                }
            }
        }
        /* REFERENCES END */
    }
}
