// Scss
@charset "UTF-8";

/* ----- Colors ----- */

$white_color: #ffffff;
$light_green_color: #03899C;
$dark_green_color: #02515C;
$dark_grey_color: #111111;
$ribbon_color: #ff0000;
$orange_color: #EA5B0C;

/* --- Set color of mixin, to set color of bar on mobile ---- */

@import "mixins.scss";

/* -- Fonts -- */

@font-face {
    font-family: 'Revue Std Bold';
    src: url(/fonts/RevueStd.otf);
}

/* MOBILE-FIRST css code */

body {
    margin: 0px;
    -webkit-animation: bugfix infinite 1s;
    /* needed for checkbox hack */
    background-image: url("../images/welcome/welcome_home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}
h1,
h2,
p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

/* allt i nav ska ligga i en egen mixin senare för att dela upp koden mer*/


/* ---- NESTED NAV ---- */

#nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    /* Dropshadow */
    -webkit-box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(136, 136, 136, 0.3);
    /* Hide menu-checkbox */
    input.trigger {
        display: none;
    }
    /* Hide submenu-checkbox */
    input.trigger-ref {
        display: none;
    }
    /* Hide minus */
    #menu-references #minus-ref {
        display: none;
    }
    /* Hide submenu-ref */
    #submenu-ref {
        display: none;
    }
    /*Show - and submenu-ref || Hide + */
    input.trigger-ref:checked ~ #submenu-ref,
    input.trigger-ref:checked ~ #menu-references #minus-ref {
        display: flex;
    }
    input.trigger-ref:checked ~ #menu-references #plus-ref {
        display: none
    }
    label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 1em;
        font-size: 1.5em;
        padding: 0.2em;
        margin: 0;
        cursor: pointer;
        line-height: 0em;
        @include font-mix(#000000,
        $white_color);
        opacity: 0.97;
        /*background-color: $light_green_color;
        color: #ffffff;*/
    }
    #hamburger_label {
        justify-content: flex-end;
        display: flex;
    }
    /* Hide the X while the menu is hidden*/
    #hamburger_label .fa-times {
        display: none;
        padding: 0.5em;
    }
    #hamburger_label .fa-bars {
        display: flex;
        padding: 0.5em;
    }
    /*Show X and hide bars*/
    input.trigger:checked ~ #hamburger_label .fa-times {
        display: flex;
    }
    input.trigger:checked ~ #hamburger_label .fa-bars {
        display: none;
    }
    /* OFF-CANVAS MENU */
    input.trigger:checked ~ .menu-holder {
        left: 0%;
    }
    /* Holder of the UL */
    .menu-holder {
        top: 0;
        left: -45%;
        height: 100%;
        background-color: $orange_color;
        z-index: 8;
        width: 45%;
        position: fixed;
        transition: left 0.6s;
        opacity: 0.95;
        ul {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        .menu_original {
            display: flex;
            list-style: none;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            i {
                padding-right: 0.4em;
            }
            label {
                font-size: 1.2em;
                padding: 0.5em;
                justify-content: center;
                background-color: $orange_color;
                color: $white_color
            }
            label:hover {
                background-color: darken( $orange_color, 10%);
            }
            //Sub-menu
            ul {
                margin: 0;
                padding: 0;
                li {
                    background-color: darken( $orange_color, 10%);
                    list-style: none;
                    // submenu links
                    a {
                        display: flex;
                        justify-content: center;
                        padding-top: 0.2em;
                        padding-bottom: 0.4em;
                        background-color: $dark_grey_color;
                        color: white;
                        text-decoration: none;
                    }
                    a:hover {
                        background-color: darken( $orange_color, 10%);
                    }
                }
            }
        }
    }
}
/*---- END NESTING NAV ----*/


/*----- NESTING PRODUCTS -----*/
.container {
    -webkit-animation: bugfix infinite 1s;
    background-color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    .products {
        margin: 0;
    }
    .products h1 {
        background-color: $dark_green_color;
        z-index: 3;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: absolute;
    }
    /* --- Products-bar --- */
    .products #test {
        background-color: #ffffff;
        height: 2.7em;
        width: 100%;
        z-index: 3;
    }
}


/*Protein Plus*/

.latest {
    background-image: url("../images/welcome/welcome_home.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Setup for startscreen */
    height: 100vh;
    h2 {
        background-color: rgba(0, 0, 0, 0.5);
        font-family: 'open sans', 'sans-serf';
        border-radius: 1vh;
        font-size: 5vh;
        padding: 2vh;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    /*Protein plus description*/
    p {
        background-color: rgba(3, 137, 156, 0.6);
        margin: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }
}
%templetorderbutton {
    color: $light_green_color;
    border: 2px solid $light_green_color;
}

/* Read more button*/

#orderbutton {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 20px;
}
#orderbutton:hover {
    @extend %templetorderbutton;
}
#orderbutton:target {
    @extend %templetorderbutton;
    color: $dark_green_color;
}

/*--- Premium Ribbon ---*/

.container {
    .products #plus .circle-holder {
        position: absolute;
        width: 100%;
        background-color: transparent;
        z-index: 1;
    }
    .products #plus {
        z-index: 2;
    }
    .products #plus .premium-circle {
        width: 200px;
        position: absolute;
        top: 25px;
        left: -50px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        color: #f0f0f0;
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background-color: darken( $ribbon_color, 15%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* PRODUCTS */

.products {
    background-color: $dark_green_color;
    h2 {
        color: #ffffff;
    }
    article {
        background-color: #ffffff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 2px solid $dark_green_color;
        margin: 0;
        padding: 0;
        h2 {
            color: $dark_grey_color;
        }
        p {
            @extend h2;
            width: 90%;
        }
    }
}
#productorderbutton {
    background-color: $light_green_color;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vh;
    text-align: center;
}
#productorderbutton:hover {
    background-color: $dark_green_color;
    text-align: center;
}

/* ----- ABOUT ----- */

.about {
    background-image: url("../images/maxresdefault.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}
.about section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.about section p {
    width: 80vw;
    max-width: 400px;
}

/* ----- CONTACT ----- */

.contact {
    background-color: $dark_grey_color;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.contact p {
    background-color: transparent;
    margin: 0px;
}
.contact section #follow {
    padding-bottom: 50px;
    margin-top: 10px;
}

/* Product image */

article figure img {
    height: 50vh;
}

/* ----- FOOTER ----- */

footer {
    background-color: #111111;
    width: 100vw;
    height: 45px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 5;
}
footer i {
    margin: 15px;
    color: #ffffff;
}
footer a i:hover {
    color: $dark_green_color;
}

/* -------- Tablet ------ */

@media screen and (min-width: 34em) {
    /*Protein Plus*/
    .latest h2 {
        font-size: 7vh;
    }
    /*Protein plus description*/
    footer {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    footer i {
        color: #ffffff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
}

/* ------- Desktop ------ */

@media screen and (min-width: 54em) {
    #nav #preorlogin {
        display: flex;
        justify-content: flex-end;
        color: $light_green_color;
        padding-right: 2em;
        background-color: #000000;
    }
    /* Hide mobile menu */
    #nav ul li label,
    #nav .menu-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        top: 5em;
        left: 0px;
    }
    #nav label,
    #nav .off-canvas-menu label,
    #nav submenu-products2 {
        display: none;
    }
    /* Display desktop menu */
    #nav ul {
        /* older flexbox */
        display: -ms-flexbox;
        -ms-flex-direction: -ms-row;
        flex-direction: -ms-row;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        /* newer flexbox */
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100vw;
        background-color: #000000;
    }
    #nav ul li {
        position: relative;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    #nav ul li a {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #000000;
    }
    #nav ul li a:hover {
        background: #000000;
        color: $light_green_color;
    }
    #nav ul li ul {
        display: none !important;
        position: absolute;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 3.0625em;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 12.5em;
        z-index: 200;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    #nav ul li ul li {
        text-align: center;
    }
    #nav ul li ul li a {
        background-color: $dark_grey_color;
    }
    #nav ul li ul li a:hover {
        color: $light_green_color;
        background-color: $dark_grey_color;
        border-bottom: none;
    }
    #nav ul li ul li ul {
        z-index: 300;
        top: 0px;
        left: 10em;
    }
    #nav ul li ul li ul li a {
        padding-left: 0px !important;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #nav ul li ul li ul li a:hover {}
    #nav ul li:hover > ul {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 10em;
        margin: 0;
        padding: 0;
    }
    #homelink {
        display: none;
    }
    #nav ul li:last-of-type a {
        margin-right: 0px;
    }
    /* --- Show original products on desktop --- */
    #nav ul #original-products {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .products {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .products article {
        width: 50%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
// Percentage is a Sass function that will be evaluated to CSS when compiled
