doctype html
html(lang='sv')
  head
    meta(charset='UTF-8')
    // Set Device Proporties
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // Head HTML Proporties
    meta(name='description', content='Bygg &amp; Vent i Syd AB Hemsida')
    meta(name='keywords', content='bygg, ventilation, vent, syd, åhus, kristianstad, skåne')
    meta(name='author', content='Bygg &amp; Vent i Syd AB')
    title Bygg &amp; Vent i Syd AB
    // Reset
    link(rel='stylesheet', href='css/reset.css')
    // Style
    link(rel='stylesheet', href='css/styles.css')
    // Font Awsome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  // BODY
  body
    nav#nav(role='navigation')
      input#mainNavButton.trigger(type='checkbox')
      label#mobilemenu(for='mainNavButton', onclick='')
        p#logotext Bygg &amp; Vent i Syd AB
        i#hamburgericon.fa.fa-bars
        i.fa.fa-times
      h1#logotextdesk Bygg &amp; Vent i Syd AB
      // <span id="preorlogin">Logga in</span>
      .off-canvas-menu
        ul
          li
            label#mobilemenu(for='home', onclick='')
              span Hem   
          li
            label#mobilemenu(for='about-us', onclick='')
              span Om oss       
          li
            label#mobilemenu(for='services', onclick='')
              span Tjänster  
          li
            input#sub-check-ref.trigger(type='checkbox')
            label#mobilemenu(for='sub-check-ref', onclick='')
              i#plus.fa.fa-plus
              i#minus.fa.fa-minus
              span Referenser
            ul#submenu-ref
                li
                 a(href='#products') Badrum
                li
                 a(href='#products') Fönster
                li
                 a(href='#products') Nyproduktion
                li
                 a(href='#products') Ventilation
                li
                 a(href='#products') Kök
                li
                 a(href='#products') Övriga renoveringar
          li
            label#mobilemenu(for='contact', onclick='')
              span Kontakt 
      // Menu
      ul
        li
          a#homelink(href='#home') HemDesktop
        input#sub-check.trigger2(type='checkbox')
        li#original-products
          a(href='#products')
            i.fa.fa-plus
            | ProdukterD
          ul#submenu-products
            li
              a(href='#products')
                i.fa.fa-plus
                | ProteinpulverD
              ul#submenu-protein
                li
                  a(href='#plus') - Protein Plus NY!D
                li
                  a(href='#basic') - Protein BasicD
        li
          a(href='#about') Om ossD
        li
          a(href='#contact') Kontakta ossD
    section#home.container
      // Content to display under nav
      article.latest
        h2 - Byggisydab.se -
        a(href='#products')
          input#orderbutton(type='button', value='Läs mer')
        p
          | Efterlängtade Protein Plus finns nu i lager. Ett kosttillskott av högsta kvalité!
      // Products
      section#products.products
        a(name='products')
        #test
          h1 Produkter
        article#plus
          .circle-holder
            .premium-circle
              span#premium-banner-text Premium
          h2 Protein Plus
          figure
            img(src='images/Products/plus.png', alt='Protein Plus')
          p
            | Ett kvalitativt proteinpulver med hela 30% protein. Helt utan socker. Finns i smakerna choklad, karamell och jordgubb!
          input#productorderbutton(type='button', onclick="alert('Tack för din order')", value='Beställ')
        article#basic
          h2 Basic
          figure
            img(src='images/Products/basic.jpg', alt='Protein Basic')
          p
            | Kosttillskottet för dig som vill komma igång med din träning. Proteinrik och endast 3% socker. Finns i smakerna banan och vanilj. Gratisprov ingår!
          input#productorderbutton(type='button', onclick="alert('Tack för din order')", value='Beställ')
      article#about.about
        h1 Om oss
        section
          p
            | Proteinhuset är Sveriges största leverantör inom träning och kosttillskott. Vi har alltid bra produkter till rätt pris och skickar dina varor samma dag!
      // Contact information
      article#contact.contact
        h1#contactheading Kontakt
        section
          // I will create phone and mail links
          p 044 - 777 00 33 | byggisyd@gmail.com
          p Norra Piggagatan 5, 296 33 Åhus
          p Bygg &amp; Vent i Syd AB 
          p#follow — Följ oss —

        //Back to top
        //<a href="#home">Go to top</a>
    footer
      a(href='https://sv-se.facebook.com/', target='_blank')
        i#social.fa.fa-facebook
      a(href='https://twitter.com', target='_blank')
        i.fa.fa-twitter
      a(href='https://plus.google.com/', target='_blank')
        i.fa.fa-google-plus
      a(href='https://se.pinterest.com/', target='_blank')
        i.fa.fa-pinterest-p
  script(type='text/javascript', src='js/hello_world.js')
  //
    BUGS
    * When displaying the menu on mobile/tablet and transforming the window, so that the desktop version triggers, the submenu will be displayd as a row insted of a column. Relod page to fix!

